@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


body {
    width: 100%;
    height: 100%;
    background-color: #212A31;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    background-color: #4070f4;
}

h3 {
    margin-bottom:20px;
}

.mb-2{
    margin-bottom:10px;
}


img {
    width:28px;
    display:inline;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    border-color: #212A31;
    outline-color: #212A31;
}

label{
    display:block;
}

    /* Remove spinner controls for all browsers */
    input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none; /* Chrome, Safari, Edge */
            margin: 0; /* Optional: Removes margin */
        }

.frame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-width: 300px;
}


.input-with-icon{
    display:block;
    position:relative;
}

.input-form {
    display: block;
    position: relative;
    margin-bottom:15px;
}

.input-has-icon{
    padding-left:50px;
}

.input-icon {
    padding: 1px 3px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
    position:absolute;
    left:10px;
    top:50%;
    transform:translateY(-50%);
}


.submit-btn{
    margin-top:10px;
}

.text-center{
    text-align:center;
}


.sign-in-up-button {
    margin-top: 10px;
    color: rgb(0, 31, 255);
    cursor: pointer;
    font-size: 1.2rem;
    float: inline-end;
    background-color: #4070f4;
    border:unset;
    border-radius:5px;
    padding:8px;
    color:#fff;
    font-size:1.4rem;
    font-weight:500;
    display:block;
    width:100%;
    position:relative;
}

.floating-precall{
    position:absolute;
    left:10px;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #4070f4;
    text-underline-offset: 3px; 
}

.text-validation-error {
    float: inline-end;
    text-align: end;
    color:#ff0033;
    font-size:1rem;
}

.text-small{
    font-size:1rem;
    margin-top:70px;
    display:block;
    text-align:center;
}



@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');