@page "/login"
@using System.Timers;

<PageTitle>Login Page</PageTitle>

<div class="frame">
    <h2 class="mb-2 title"><span class="underline">Phone login</span></h2>
    <EditForm OnValidSubmit="HandleSendSmsAsync" Model="LoginPhone">
        <DataAnnotationsValidator />


        <div>
            <label for="phone">Phone</label>
            <div class="input-form">
                @* <img src="icons/smartphone.png" alt="phone" /> *@
                <div class="input-with-icon">
                    <InputNumber id="phone" disabled="@isButtonDisabled" @bind-Value="LoginPhone.Phone" class="input-has-icon" />
                    <label for="phone" class="input-icon">+47</label>
                </div>
                <div>
                    <div class="text-validation-error">
                        <ValidationMessage For="@(() => LoginPhone.Phone)" />
                    </div>
                </div>
            </div>
        </div>

     



        <button type="submit" class="sign-in-up-button" disabled="@isButtonDisabled">
            @buttonText
        </button>

        <p class="text-small">Don't have an accound? <a href="/register">Register here</a></p>

    </EditForm>
    </div>

@code {
    private readonly int countDownTimerForSms = 5;
    private readonly string SendSmsMessage = "Send SMS";


    [Inject] public SmsService SmsService { get; set; }
    [Inject] public IJSRuntime JSRuntime { get; set; }

    State state = State.EnterPhoneNumber;
    private LoginPhoneDto LoginPhone = new();
    private LoginWithTokenDto LoginToken = new();
    private string FeedbackMessage = "";
    private string FeedbackClass = "";
    private string buttonText = "Send SMS";
    private bool isButtonDisabled = false;
    private Timer timer;

    private int countdownSeconds; // Cooldown duration in seconds

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(false){

            timer = new Timer(1000);
            timer.Elapsed += StartCooldown;

            var clientOutcome = await SmsService.GetUsersCachedDataAsync();

            if(clientOutcome.IsSuccessful){



                await JSRuntime.InvokeVoidAsync("console.log", $"{countdownSeconds}");
                timer.Start();
            }
            else{
                countdownSeconds = countDownTimerForSms;
                isButtonDisabled = false;
                await InvokeAsync(StateHasChanged);
            }
            await JSRuntime.InvokeVoidAsync("console.log", $"{isButtonDisabled}");




        }

    }

    private async Task HandleSendSmsAsync()
    {
        try
        {
            var result = await SmsService.SendSmsAsync(LoginPhone.Phone?.ToString());

            if(result.IsSuccessful)
            {
                state = State.VerifyPhoneNumber;
                LoginToken.Phone = LoginPhone.Phone;
            }

            if (result.IsSuccessful)
            {
                FeedbackMessage = "SMS sent successfully! Please check your phone.";
                FeedbackClass = "text-success";
                StartTimer();
            }
            else
            {
                FeedbackMessage = result.Message;
                FeedbackClass = "text-danger";
            }
        }
        catch (Exception ex)
        {
            FeedbackMessage = "An error occurred while sending the SMS. Please try again later.";
            FeedbackClass = "text-danger";
            Console.WriteLine($"Error: {ex.Message}");
        }
    }



    private async void StartCooldown(Object source, ElapsedEventArgs e)
    {

        if (countdownSeconds <= 0)
        {
            StopTimer();
        }else{
            buttonText = $"{countdownSeconds}s to resend SMS";
            countdownSeconds--;
        }

        await InvokeAsync(StateHasChanged);
    }


    private void StartTimer()
    {
        isButtonDisabled = true;
        timer.Start();
    }

    private void StopTimer()
    {
        countdownSeconds = countDownTimerForSms;
        buttonText = SendSmsMessage;
        isButtonDisabled = false;
        timer.Stop();
    }

    enum State{
        EnterPhoneNumber,
        VerifyPhoneNumber
    }

}
